* {
    box-sizing: border-box;
}

:root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 62.5%;
}

.start{
    margin: auto;
    font-size: 75px;
}

.start-button {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 25px;
}

.quiz{
    display: block;
}

.timer{
    font-weight: bold;
    float: right;
    font: var(--primary);
}

.choices{
    font-weight: bold;
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 25px;
}

body {
    background: #ededed;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.choice{
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
}

.choices div{
    outline: none;
    border: none;
    display:flex;
    flex-direction: column;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: #333;
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
}

.quiz{
    margin: auto;
	padding: auto;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.highscores h1{
    font-weight: bold;
    margin: auto;
}